<h2 mat-dialog-title>
  <span class="title-text">Upload New Photo</span>
  <button mat-icon-button class="close-button" (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<div mat-dialog-content>
  <form (submit)="onSubmit()">
    <mat-form-field class="custom-file-input">
      <input type="file" (change)="onFileSelected($event)" required hidden accept="image/*" #fileInput>
      <input matInput placeholder="Select file" [value]="selectedFile?.name" readonly>
      <button mat-icon-button matSuffix (click)="fileInput.click()" [disabled]="fileError">
        <mat-icon>attach_file</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button color="primary" [disabled]="!selectedFile || fileError" (click)="onSubmit()">Upload</button>
</div>
