.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  .title-text {
    flex-grow: 1;
  }
}
.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px 24px;
}
