::ng-deep .comment-field {
  .mdc-text-field--filled {
    background-color: white !important;
  }
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 10px;
  padding: 25px;
}

.add-photo-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.photo-card {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .photo-mat-card {
    position: relative;
    overflow: hidden;
  }

  .delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    opacity: 0.6;
    width: 30px;
    height: 30px;

    &:hover {
      opacity: 1;
    }
  }

  .photo-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
