<button mat-fab color="primary" (click)="openUploadDialog()" aria-label="Add Photo" class="add-photo-button">
  <mat-icon>add</mat-icon>
</button>

<div class="photo-container">
  <div *ngFor="let photo of photos" class="photo-card">
    <mat-card class="photo-mat-card">

      <button mat-mini-fab color="warn" class="delete-button" (click)="deletePhoto(photo._id)"
        aria-label="Delete photo">
        <mat-icon>delete_outline</mat-icon>
      </button>
      <img src="{{ photo.path }}" alt="{{ photo.filename }}" class="photo-img">

    </mat-card>
  </div>
</div>