<mat-card class="card-container">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-subtitle>Register to access more features</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20"
          #username="ngModel">
        <mat-error *ngIf="f.submitted && username.errors">
          <span *ngIf="username.errors['required']">Username is required</span>
          <span *ngIf="username.errors['minlength']">Username must be at least 3 characters</span>
          <span *ngIf="username.errors['maxlength']">Username must be at most 20 characters</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="form.email" required #email="ngModel">
        <mat-error *ngIf="f.submitted && email.errors">
          <span *ngIf="email.errors['required']">Email is required</span>
          <span *ngIf="email.errors['email']">Email must be a valid email address</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel">
        <mat-error *ngIf="f.submitted && password.errors">
          <span *ngIf="password.errors['required']">Password is required</span>
          <span *ngIf="password.errors['minlength']">Password must be at least 6 characters</span>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width">Sign Up</button>
      <mat-card-content *ngIf="f.submitted" class="error-message">
        <mat-error>{{ errorMessage }}</mat-error>
      </mat-card-content>
    </form>
  </mat-card-content>
</mat-card>
