.card-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;

  .profile-img-card {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.full-width {
  width: 100%;
}

.example-header-image {
  background-image: url("//ssl.gstatic.com/accounts/ui/avatar_2x.png");
  background-size: cover;
}
