<mat-toolbar color="primary">
  <span class="nav-text">
    MOOD BOARD
  </span>
  <span class="flex-spacer"></span>

  <ng-container *ngIf="isLoggedIn">
    <span> {{user!.username}}</span>
    <button mat-icon-button (click)="logout()" aria-label="Logout">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-container>

  <div *ngIf="!isLoggedIn">
    <button mat-button routerLink="register">Sign Up</button>
    <button mat-button routerLink="login">Login</button>
  </div>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>