.login-card {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;

  mat-card-title,
  mat-card-content {
    text-align: center;
  }

  mat-card-avatar {
    height: 96px;
    width: 96px;
    border-radius: 50%;
  }
}

.full-width {
  width: 100%;
}

.error-message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-top: 20px;
}
