<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
    <img mat-card-avatar src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Profile Image">
  </mat-card-header>

  <form *ngIf="!isLoggedIn" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput name="username" [(ngModel)]="form.username" required #username="ngModel" autocomplete="name">
      <mat-error *ngIf="f.submitted && username.errors">
        <span *ngIf="username.errors['required']">Username is required!</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="form.password" required minlength="6"
        #password="ngModel" autocomplete="password">
      <mat-error *ngIf="f.submitted && password.errors">
        <span *ngIf="password.errors['required']">Password is required</span>
        <span *ngIf="password.errors['minlength']">Password must be at least 6 characters</span>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width">Login</button>

    <mat-card-content *ngIf="f.submitted && isLoginFailed" class="error-message">
      <mat-error>{{ errorMessage }}</mat-error>
    </mat-card-content>
  </form>
</mat-card>
